<div class="jumbotron text-center rounded-0">
    <h1>Basic MEAN app authentication</h1>
    <p class="lead">MEAN web app for registration and login authentication</p>
    <div>
        <a class="btn btn-dark" [routerLink]="['/login']">Login</a>
        <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Express JS & MongoDB Backend</h2>
        <p>Node.js/ExpressJS server backend with Mongoose to organize models and query database</p>
    </div>
    <div class="col-md-4">
        <h2>Angular CLI</h2>
        <p>Angular 2 frontend to generate components, services, etc... local server for compilation</p>
    </div>
    <div class="col-md-4">
        <h2>JWT Tokens</h2>
        <p>Authentication with JSON web tokens. Login and store user data</p>
    </div>
</div>