<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/']">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]="['/']">Home</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li *ngIf="authService.loggedIn()" class="nav-item">
                <a>Hello, {{user?.name}}</a>
            </li>
            <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]="['/profile']">Profile</a>
            </li>
            <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
            <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]="['/register']">Register</a>
            </li>
            <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a>
            </li>
        </ul>
    </div>
</nav>